/*
CSS styling common to all PDF generation
*/

/* Demonstration color for title that is low-contrast with white background */
h1 {
    color: #ff0;
}

/* Turn off MathML from KaTeX which is there for accessibility, should not be displayed in PDF */
.katex-mathml {
    display: none;
}

/* Force colors to match declared colors without browser corrections to avoid low-contrast */
:root {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

@media print {
    @page {
        size: 5.5in 8.5in;
    }

    @page: left {
        margin-left: 25mm;
        margin-right: 0mm;
    }

    @page: right {
        margin-left: 0mm;
        margin-right: 25mm;
    }
}