
server {
    listen 80;
    listen [::]:80;

    {% if ansible_connection != 'local' %}
        server_name app.shimmermathlabs.com;
    {% endif %}

    root /var/www/appshimmermathlabs;

    index index.html;

    location / {
        try_files $uri $uri/ /index.html =404;
    }
}
