@page {
    size: A5;
    margin: 20mm;
    @bottom-right-corner {
      vertical-align: center;
      text-align: center;
      background: #fafafa;
      color: purple;
      content: "P. " counter(page);
    }
  }
  
  .pagedjs_page {
    border: 1px solid black;
    background-color: white;
  }
  
  .myPage {
    break-after: page;
  }
  