{{ define "main" }}
    <div class="w-full flex flex-wrap justify-content-center">
        <div class="px-4 md:px-6 mb-6 max-width-800px flex flex-column">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            {{ range .Pages }}
            <div class="flex flex-row flex-wrap md:flex-nowrap">
                <div>
                    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                    {{ .Summary }}    
                </div>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
