
<div class="flex justify-content-between flex-wrap max-w-screen px-4 md:px-6 pt-0 pb-8 bg-gray-100 text-gray-900">
    <div class="my-8 pt-0 text-sm w-full">
        <div class="sm:flex sm:justify-content-between gap-4 w-full">
            <p class="mt-2">
                &copy; {{ now.Year }}. Nathan Whitehead. All rights reserved.
                <br>
                A product of Shimmer Math Labs.
            </p>
            <nav aria-label="Footer Navigation - Support" class="ml-0 mt-4 sm:mt-0 p-0">
                <ul class="flex flex-wrap justify-content-start gap-4 text-xs lg:justify-content-end list-none pb-4 p-0 my-2">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/terms">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/privacy">Cookies</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="flex flex-row">
            <p class="pr-2 special">Made with 💖+🧠+☕</div>
        </div>
    </div>
</div>
