<div class="w-full top-0">
    <div class="max-w-screen px-4 md:px-6 py-4 flex flex-row justify-between align-items-center h-8rem">
        <div class="flex flex-row justify-content-center w-full">
            <div class="w-5px bg-orange-500 sm:h-2rem top-2px" style="height: 1.5rem;"></div>
            <a href="/" class="px-3"><img src="/images/logo_pathed.svg" class="w-10rem sm:w-14rem"></img></a>
            <div class="flex-grow-1"></div>
            <a href="/about" class="px-4">About</a>
            <a href="/products" class="px-4">Products</a>
        </div>
    </div>
</div>
